// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
// $green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$pink: #FC7B75;
$green: #00957B;

// $turquoise: #C8E3D7:
$yellow: #FDFFC4;

// info cards
$white: #fff;
$link: #FDFFC4;
$gray-shadow: rgba(0,0,0,0.2);
$text-shadow: rgba(0, 0, 0, 0.8);

$black: #000;

// button colors
<<<<<<< HEAD
$fun-light: #FFC65A;
$fun-dark: #00957B;

//new colors
$fun-pink: #F088A4;

$fun-yellow: #FDFFC4;
=======
$fun-light: #FDFFC4;
$fun-dark: #F088A4;


//new colors
$fun-pink: #F088A4;
$fun-yellow: #FDFFC4;
$fun-black: #040404;
$fun-white: white;
>>>>>>> master
