// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");

// Define fonts for body and headers
$body-font: 'Telex', sans-serif;
$headers-font: "Lily Script One", cursive;


h1, {
  font-family: 'Lily Script One', cursive;
}

h2, h3, h4, h5, h6, p {
font-family: 'Telex', sans-serif;
}





h3 {
  font-size: 20px;
}
