// Specific CSS for your home-page
body {
  background-color: #fff;
}

// .banner-search {
//   background-color: #74797A;
//   border-radius: 10px;
//   opacity: .9;
//   margin: 10px 0px;
// }

.banner-search  {
  // background-color: rgba(255,255,255,.7);
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);

  p {
  color: #2C2929;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 10px 0px 10px;
  text-align: center;
  margin: 0px;
  font-weight: bold;
  }

  .form-control {
    background-color: #0e0000;
    border-radius: 32px;
    border: 1px solid #FDFFC4;
  }

  .btn {
  color: #FDFFC4;
  background-color: #00957B;
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 10px;
  box-shadow: 0px 0px 0px;
  border: none !important;

  }

.img-clickable {
  background-color: #0e129659;
  border-radius: 50%;
  padding: 10px;
  height: 70px;
  border: 3px solid #F088A4;

}
}



.vibes input[type=checkbox] {
  display:none;
}

.vibes .clickable img.active {
  border: $green;
}

.clickable {
  line-height: 1.5em;
  padding: 10px;
  flex: 0 0 30%;
  text-align: center;
  font-size: 14px;
  color: #000;

    img {
    background-color: #fff;
    border-radius: 50%;
    padding: 10px;
    height: 70px;
    border: 3px solid $fun-pink;

      .active {
        border: 3px solid $fun-pink!important;
      }

      :hover {
        border: 3px solid $fun-pink;
      }

      :hover {
      font-weight: bold;
      }
    }

    &.active {
    color: white;
    opacity: 1;
    }

    p {
      margin: 0;
    }
    label {
      margin: 0;
    }
}

img.img-clickable.active {
  border: 3px solid $black;
}


.radio_item {
 // display: none !important;
 margin: 5px 20px;
}

.label_item {
opacity: 1;
color: #000;
}

// input[type="radio"]:checked+label { font-weight: bold; }



.clickable .radio_item {
  display:none
}


.algolia-places {
  width: 90% !important;
}

.clickable.active {
  label {
    font-weight: bold;
  }
  img {
    background-color: $black;
  }
}

.clickable:hover img {
  background-color: $black;

}


