.search-bar .row {
  display: flex;
  border: 1px solid rgba(129,129,129,.5);
  // border-radius: 5px;
  // margin: 10px 0px;
  align-items: center;
  // padding: 5px 10px;
  text-align: left;

  .btn {
    font-size: 20px;
  }
}


.card-map-info-window > a img {
    height: 60px;
    width: 100%;
    object-fit: cover;
}

.card-map-info-window h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    font-family: 'Sofia', cursive;
    padding-bottom: 5px;
    /* padding-top: 5px; */
    text-shadow: 1px 1px 3px $text-shadow;
    /* position: absolute; */
    bottom: 70px;
    left: 16px;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;

    a:hover {
      color: $white;
      text-decoration: none;
    }
}

.card-map-info-window p.time {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: white;
}

.card-map-info-window p.distance {
    padding: 5px;
    border-radius: 5px;
    text-align: right;
    color: white;
}



.card-map-info-window-vibe img {
    height: 30px;

}
.card-map-info-window-vibe {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: left;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
}

.card-map-info-window .card-map-info-window-infos {
    padding: 16px;
    padding-bottom: 9px;
    padding-top: 10px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    position: relative;
}

.card-map-info-window {
    position: relative;
}


.card-map-info-window {
    overflow: hidden;
    background: white;
    background-color: $green;
    box-shadow: 0 0 15px $gray-shadow;
    margin-top: 20px;
    padding-bottom: 10px;
    position: relative;
    /* height: 300px; */
    border-radius: 5px;
}


.card-map-info-window p {
    font-size: 15px;
    opacity: .9;
    margin: 0 0 0 5px;
    color: $white;
  }

.nav-link{
  background-color:#F4F4F4;
  color: $black;
}

// .tab-content{
//     background-color:#303136;
//     color:#fff;
//     padding:5px
// }

.nav-link > li > a{
  border: medium none;
  color: $black;
}

.nav-link > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color: $gray;
}

