// .main-container {
//   display: flex;
//   margin: 0 auto;
//   width: 1110px;
//   justify-content: space-between;
//   padding-top: 42px;
// }

h2 {
  // padding-bottom: 34px;
  // font-family: 'Alice', serif;
}

.buddy-left {
  // width: 45%;

}

.detail-right {
 // width: 50%;
}

.details {
  // width: 400px;
}

.details h2 {
  font-family: 'Alice', serif;
}

.buttoncontainer-right {
  display: block;
  background: #fff;
  border-radius: 5px;
  /* border: 1px solid; */
  padding: 40px 30px;
  margin: 5px 75px 20px 75px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  justify-content: center;

  p {
    font-weight: normal;
  }
  p strong {
    font-weight: bold;
    color: $light-gray;
  }

  .btn {
    padding: 10px 10px;
  }
}
