.dashboard-container {
  margin-top: 15px;
}

.dashboard-container h1 {
font-family: 'Telex', sans-serif;
}

  a .fa-pencil-alt {
    font-size: 30px;
    vertical-align: 5px;
  }

  a .fas {
    color: $light-gray;
    transition: .05s ease;
    margin: 0px 10px;
  }

  a:hover .fas {
    color: $green;
  }

.event-list {
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 5px 5px 10px;
  border-radius: 5px;
  margin:10px 10px 10px 10px;
  justify-content: left;
  //box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  //border: 1px solid;

  img {
    margin: 0 10px 0 0;
    width: 50px;
    object-fit: cover;
  }

  p a {
    color: $fun-pink;
    margin: 0px;
    font-weight: bold;
    text-decoration: none;
  }

  p a:hover {
    color: $light-gray;
  }

  a .fas {
    color:#E1524A;
    transition: .05s ease;
    margin: 0px 10px;
  }

  a:hover .fas {
    color: $green;
  }
  a .edit {
    color: $green;
  }

  a:hover .edit {
    color: $gray;
  }
}

.event-list-options {
  display:flex;
  //align-items: center;
  padding: 0 0 0 10px;
}

.dashboard-card {
  height: 330px;
  width: 100%;
}

.dashboard-card-background {
  height: 250px;
  background: $white;
  border-radius: 5px;
  padding-top: 20px;
  border: 1px solid;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.review-notice {
  font-size:15px;
  position: relative;
  border-radius: 5px;
  margin: 15px 0px 25px 0px;

  li a {
    font-weight: normal;
    color: $green;
  }

  li a:hover {
    color: $gray;
  }
  ul {
    margin: 0;
  }
  p {
    margin: 0 0 10px 0;
  }
}

.card-product .review-notice-infos p {
    p {
    margin: 0px;
  }
}
