<div class="container">
  <h1 class="">Hello <%= current_user.full_name %></h1>
  <div class="row">
    <div class="col-sx-12 col-sm-6 col-md-4 col-lg-4">
      <div class="card">
      <h1>My Upcoming Events</h1>
        <% @events.each do |event| %>
        <div>
          <h2><%= event.title %></h2>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>

<!-- Grid setup with 4 tiles (2 on 2) -->
<!-- Tiles have margin between them (top/bottom & each side) -->
<!-- My Events have links to individual events -->
<!-- User can choose to cancel from dashboard tile -->
<!-- User can view and navigate to their HOSTED events in My Hosted tile-->
<!-- User can update profile information and edit profile picture -->
<!-- User can view events they attended in Past Events tile -->
