<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(https://www.themodernman.com/wp-content/uploads/is-it-okay-to-let-your-girlfriend-have-guy-friends.jpg);">
  <div class="container">
    <h1><strong>TasteBudd</strong> </h1>
    <p>Never dine alone</p>
    <a class="btn btn-flat" href="#">Find spontaneous friends go out with!</a>
    </br>
    </br>
    <%= link_to 'View Event Map', root_path(anchor:'map'), class: "btn btn-primary" %>

  </div>
</div>


<!-- https://giantbomb1.cbsistatic.com/uploads/original/0/9545/2634556-stock-footage-a-group-of-friends-hang-out-on-a-rooftop-bar-at-night-and-dance-and-laugh-around-the-fireplace.jpg -->
