<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url(https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1488384966/people-drinking-beer-BEERINTERN317.jpg?itok=9qAMrVDs);">
  <div class="container">
    <div class="row">
      <div class="banner-text col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <h1><strong>TasteBudd</strong> </h1>
        <p>Never dine alone</p>
        <p><span>Find people nearby to go out with this evening!</span></p>
        </br>
        </br>
      </div>
      <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-5">
      <%= render 'shared/vibe_search' %>
      </div>
    </div>
  </div>
</div>


<!-- https://giantbomb1.cbsistatic.com/uploads/original/0/9545/2634556-stock-footage-a-group-of-friends-hang-out-on-a-rooftop-bar-at-night-and-dance-and-laugh-around-the-fireplace.jpg -->
