<div class="container mt-4">
  <div class="row">
    <div class="col-9 m-auto">
      <h1 style="padding:0; text-align: center;">Add a New Event</h1>

        <%= render "form" %>

    </div>
  </div>
</div>
<div class=".date-selector"></div>

<script type="text/javascript">
    import { NJTimePicker } from 'app/javascript/plugins/nj-timepicker.js';
</script>

