<div class="homepage">
  <div class="banner" style="background-image: url(https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1488384966/people-drinking-beer-BEERINTERN317.jpg?itok=9qAMrVDs);">
  </div>

  <div class="home-form">
    <div class="banner-text">
      <h1><strong>TasteBudd</strong> </h1>
      <p>Never dine alone. Find people nearby to go out with this evening!</span></p>
    </div>
    <div>
      <%= render 'shared/vibe_search' %>
    </div>
  </div>
</div>
