@import "form";


.header-3 {
  font-size: 20px;
}


// #algolia-big {
//   width: 120% !important;
// }

// .ap-input-icon svg {
//   left: 41px;
// }


// .hey form span button svg {
//   left: 41px;
// }

.search-bar {
  width: 100%;
  .algolia-places {
    width: 56% !important;
  }
  form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
  }
}

.vibe-selection {
  padding-right: 35px;
  padding-left: 16px;
  line-height: 40px;
  height: 40px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  font: inherit;
  -webkit-appearance: none;
  box-sizing: border-box;
}
