@import "form";
@import "show";


.header-3 {
  font-size: 20px;
}


#algolia-big {
  width: 120% !important;
}

// .ap-input-icon svg {
//   left: 41px;
// }


.hey form span button svg {
  left: 41px;
}
