.banner {
  // height: 500px;
  background-size: cover;
  background-position: center;
  padding: 120px 0 150px 0;

}

.banner h1 {
  margin: 0;
  color: $yellow;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
  font-weight: bold;
  font-family: 'Lily Script One', cursive;
  padding-left: 0px;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  letter-spacing: .25em;
  margin: 10px 0 0 0;
}

.banner p span {
  letter-spacing: 0em;
  font-size: 20px;
  opacity: 1!important;
}

.btn {
  font-weight: bold;
}

.btn:hover {
  color: #fff;
  background: #4F4743;
}
