.btn-fun {
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  border-radius: 3px;
  padding: 5px 20px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-dark-transparent  {
  color: $fun-dark;
  background-color: transparent;
  border: 2px solid $fun-dark;
  text-decoration: none;
}


.btn-dark-no-border {
  color: $fun-dark;
  background-color: transparent;
  text-decoration: none;
  border: none;
  margin-top: 5px;
  padding-left: 0px;
}

//dark button transparent
.btn-dark-transparent  {
  color: $fun-dark;
  background-color: transparent;
  border: 2px solid $fun-dark;
}

.btn-dark-transparent:hover {
  background-color: $fun-dark;
  color: $fun-white;
  text-decoration: none;
}

//dark button solid
.btn-dark-solid {
  color: $fun-white;
  background-color: $fun-dark;
  border: 2px solid $fun-dark;
}

.btn-dark-solid-normal  {
  color: $fun-white;
  background-color: $fun-dark;
  border: 2px solid $fun-dark;
  font-weight: normal;
}

.btn-dark-solid:hover {
  background-color: transparent;
  color: $fun-dark;
  text-decoration: none;
}


//light button transparent
.btn-light-transparent {
  color: $fun-white;
  background-color: transparent;
  border: 2px solid $fun-white;
}

.btn-light-transparent:hover {
  background-color: $fun-white;
  color: $fun-dark;
  text-decoration: none;
}

.btn-light-solid {
  color: $fun-dark;
  background-color: $fun-white;
  border: 2px solid $fun-white;
}

.btn-light-solid:hover {
  background-color: transparent;
  color: $fun-white;
  text-decoration: none;
}

.btn-light-transparent-link {
  color: $fun-white;
  background-color: transparent;
  border: none;
  opacity: 0.8;
  text-decoration: none;
}

.btn-light-transparent-link:hover {
  color: $fun-white;
  opacity: 1;
  text-decoration: none;
}

.form-btn-light-transparent {
  color: #FFC65A;
  margin-top: 10px;
  color: $fun-light;
  background-color: transparent;
  border: 2px solid $fun-light;
  padding: 8px;
}


////////////old buttons
.btn .btn-ghost {
  color: white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: $yellow;
  border: 4px solid white;
  padding: 1.375rem 2.75rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 10px;
}


.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1.0;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

a.nav-link.btn {
  color: $green!important;
  user-select: none;
  background-color: $yellow;
  padding: 5px 10px;
  margin: 0px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 10px;
  border: none !important;
}

.btn-cancel {
  color: white;
  text-align: center;
  display: table-cell;
  height: 35px;
  vertical-align: middle;
  font-size: 15px;
  padding: 6px 12px;
  border-radius: 4px;
  background: #EE4540;
  margin-right: 5px;
  transition: background 0.3s ease;
}

.btn-cancel:hover {
  background: #801336;
  color: white;
}


