.card h1 {
  padding-left: 158px;
  padding-top: 30px;
}

.card-trip {
  overflow: hidden;
  background: white;
  background-color: $green;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 20px;
  padding-bottom: 10px;
  position: relative
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-family: 'Sofia', cursive;
  padding-bottom: 5px;


}

.card-trip p {
  font-size: 15px;
  opacity: .9;
  margin: 0;
  color: white;

  // font-family: 'Alice', serif;
}


.card-trip .card-trip-infos {
  padding: 16px;
  padding-bottom: 9px;
  // display: flex;
  // justify-content: space-between;
  // position: relative;
}

.card-trip-infos h2, a {
  color: #FDFFC4;
}

.card-trip-infos .card-trip-user {
  display: flex;
}

.card-trip-user {
  position: absolute;
  bottom: 55px;
  left: -1px;
}

.card-trip-user .avatar-bordered {
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 5px 3px rgba(0, 0, 0, 0.2);
  // border: #000000f2 2px solid;
  margin-left: 5px;
}

.card-trip-pricing {
    width: 315px;
    height: 44px;
}


.card-info-vibe-distance {
  display: flex;
  justify-content: space-between;
}

//Comment to be deleted
