.comments {
  border: 1px solid #f088a4;
  background-color: #f088a414;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 20px;

  strong {
    font-weight: bolder;
    font-size: 25px;
  }
}

.comments-container {
  border: 1px solid black;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 3;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 20px;
  padding: 20px;
}

#comments-display

.comment-details {
  display: flex;
  justify-content: space-between;

  span {
    color: gray;
  }

  i {
    color: #f088a4;
  }
}


.form-control  {
  width: 100%;
}

.comments-user-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

