.mapbox {
  margin-top: 10px;
  margin-bottom: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: black 1px solid;

}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  // font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
  height: calc(100vh + 62px);
  top: 10px;
}
