.vibes input[type=checkbox] {
  display:none;
}


.clickable {
  line-height: 1.5em;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  font-size: 14px;
  border: 1px solid #ccc;
  color: #393e46;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  color: white;
  opacity: 1;
  }
  img {
    width: 80px;
  }
  p {
    margin: 0;
  }
  label {
    margin: 0;
  }
}
