.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: flex;
  box-align: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid grey;
  // font-family: 'Alice', serif;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  padding-left: 10px;
  color: black;
  margin: 0px;
}

.card-product .card-product-infos {
  padding: 16px;
  // font-family: 'Alice', serif;
}

