.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  box-align: center;
  align-items: center;
  border-radius: 6px;
  margin-bottom: 20px;
  border: 1px solid $fun-pink;

  h3, p {
    margin: 0 0 0 20px;
  }

  p:first-of-type {
    margin-bottom: 12px;
  }
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-attend-img {
 box-shadow: none;
 border-radius: 0;
 border: none;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  color: black;
}

.card-product .card-product-infos {
  padding: 16px;
  // font-family: 'Alice', serif;
}

