
<div class="container mt-4">
  <div class="row">
    <div class="col-9 m-auto">
      <h1 style="padding:0; text-align: center;">Leave a review for <%= @event.title %></h1>
      <h3 style="padding:0; text-align: center;">On a scale of 1-5...</h3>
        <%= render "form" %>
        <%= render "event_details" %>

    </div>
  </div>
</div>
